@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

.background {
    position: absolute;
    width: 100%;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 600px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -310px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .info_1 {
    position: absolute;
    left: 32.5%;
    top: 16.2%;
    color: #fff;
}

.info_2 {
    position: absolute;
    right: 43.5%;
    top: 19.5%;
    color: #fff;
}

.info_3 {
    position: absolute;
    right: 28%;
    top: 22%;
    color: #fff;
}

.info_4 {
    position: absolute;
    left: 29%;
    top: 33.5%;
    color: #fff;
}

.info_5 {
    position: absolute;
    left: 36%;
    top: 33.5%;
    color: #fff;
}

.info_6 {
    position: absolute;
    left: 31.5%;
    top: 69%;
    color: #fff;
}

.info_7 {
    position: absolute;
    left: 40.5%;
    top: 58%;
    color: #fff;
}

.terug {
  position: absolute;
    right: 3%;
    top: 50%;
    color: red;
    font-size: 3em;
    background-color: aqua;
    padding: 1em;
}